<div class="" [appInputDirective]="'darkMode'"  >

  <h2 *ngFor="let elements of items">{{elements}}</h2>
  <h1>{{str}}</h1>
  <input [appInputDirective]="'upperCase'" type="text" name="" id="">
  <button (click)="handleClick()">Click me!</button>
  <div class="my-container"></div>
    <p>ahoj, jak se mas a co vlastne delas<</p>
  <div class="my-second-container"></div>
</div>
<button (click)="handleClick()">Click Me!</button>

TODO
// Register Directive
// app.module.ts --> Add It to NGMODULE NgModule
